.floating-toolbar {
  position: fixed;
  top: 16px;
  right: 16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-toolbar span.spacer {
  width: 16px;
}
